In [1]:
#Number, booleans, strings

In [64]:
#lists, tuples, dictionaries and sets
#creating a empty list and adding numbers

#list.append(x) :add an item to the end of the list
#list.pop(): removes and returns the last item in the list

li1 = []
li1.append(1) # li is now [1]
li1.append(2) # li is now [1, 2]

#li1.pop() # removes and returns the last element

li1
li1.pop(1)

li1

[1]

In [80]:
#list
li1 = ['a', 2, False] # not all elements need to be the same type
li2 = [[3], [3, 4], [1, 2, 3]] # even lists of lists
li3 = [2,3,4,1]


#list methods (remove, insert, locate position of each component, extend list)
#list.insert(i,x) insert an item x at a given position i
#list.remove(x) remove the first item from the list whose value is equal to x
#list.extend(iterable) extend the list by appending all the items from the iterable

#del li1[2] #delete one element in the list

li3.insert(1, 300)
li3.remove(2)

li3.extend(range(3))

li3.extend(li2)
#print(li1, li2, li3)
li3

del li1[1]

li1

['a', False]

In [84]:
#for loop in list
for num in li1:
    print(num)    
    
    
    
    
5 in li1

a
False

False

In [87]:
#while loop
x = 0
while x<5:
    print(x)
    x = x+1
    x += 1

0
1
2
3
4

In [90]:
#for loop and range()
#range(lower, upper, step) create a sequence of numbers
list(range(0,3))

list(range(0,10,2)) 

#for number in range(0,10,2):
 #   print(number)

#list(range(0,3))

[0, 2, 4, 6, 8]

In [99]:
#create a list with squares of integers less than 10
#1 for loop

newlist = []
for x in range(10):
    newlist.append(x**2)
    print(newlist)

[0]
[0, 1]
[0, 1, 4]
[0, 1, 4, 9]
[0, 1, 4, 9, 16]
[0, 1, 4, 9, 16, 25]
[0, 1, 4, 9, 16, 25, 36]
[0, 1, 4, 9, 16, 25, 36, 49]
[0, 1, 4, 9, 16, 25, 36, 49, 64]
[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [95]:
list(range(10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [111]:
#create a list with squares of integers less than 10 
#2 list comprehension

#list comprehension
#a shorter syntax of for loop
#create a new list based on the values of an existing list

#syntax
#output_list = [item for item in existing_list if (condition to be satisfied) ]

newlist = []
for x in range(10):
    newlist.append(x**2)
    #print(newlist)
    
newlist4 = [x**2 for x in range(10)]
newlist4

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [108]:
#list comprehension
#example 2
#create a newlist which contains letters with letter "a" in the name

fruits = ["Apple", "banana", "cherry", "kiwi", "mango", "Avocado", "blackberry"]

newlist2 = []
for f in fruits:
    if 'A' in f or 'a' in f:
        newlist2.append(f)

#print(newlist2)
newlist2

#syntax
#output_list = [item for item in existing_list if (condition to be satisfied) ]

newlist3 = [f for f in fruits if 'a' or 'A' in f]

#print(newlist2, newlist3)

['Apple', 'banana', 'mango', 'Avocado', 'blackberry']

In [119]:
#create a list with squares of integers less than 10
#3 lambda & map()

#lambda: used to define an anonymous function in Python, similar to 'def'
#syntax: lambda arguments: experssion ()

#map()
#syntax: map(fun, ite)
#apply the given function to each item of a given iterable (list, tuple, set, dictionary etc.)

list(map(lambda x:x**2, range(10)))

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [116]:
#user-defined function
def add(x, y):
    #print("x is {} and y is {}".format(x,y))
    return x + y # return value

#compare with the lambda method
#syntax: lambda arguments: experssion ()

add1 = lambda x,y: x+y

#add(4,5)
add1(4,8)

12

In [4]:
list(map(lambda a,b,c :a+b+c,[4,5,6,5],[3,4,5,6],[1,5,5,3,6]))

[8, 14, 16, 14]

In [5]:
#Tuples: similar to lists but are immutable, meaning that elements cannot be added or removed after creation
#When to use tuple? 
#Choose tuple if elements don't change 

tup = (1,2,3,6,7)


#locate elements in tuple, delete, extend tuple
tup[1]

tup + (10,30,50)

(1, 2, 3, 6, 7, 10, 30, 50)

In [22]:
#Sets: also similar to lists, but they store a unique and unordered collection of items, with no duplicates


set1 = set()   #create an empty set
set2 = {3,3,5,7,8,2,10}   #set will automatically reorder the number and delete duplicates
set3 = {'a','a','b',3,5}

#set1.add(1)
#set2.remove(3)
#set2.pop()



#set operations

set2&set3           #find intersection between two sets
set2|set3           #union two sets
set2-set3           #find elements in set2 but not in set 3
set2^set3           #find elements in set2 or set3 but not both

#print(set2)
#print(set3)

{10, 2, 7, 8, 'a', 'b'}

In [24]:
#Set comprehension
#syntax
#output_list = {item for item in existing_list if (condition to be satisfied)}

#Create a set with unique characters other than 'abc' in the following string 
check_char = 'abracadabra'

#{char for char in check_char if char not in 'abc'}
{char for char in check_char if char not in ('a','b','c')}

{'d', 'r'}

In [49]:
#Dictionaries store a mapping between a series of unique keys and values
#Dictionaries are indexed by immutable keys (strings, numbers, tuples)

dic1 = {}
dic1 = {"one": 1, "two": 2, "three": 3}
type(dic1)
dic1

dic1["three"]
#dic1[2]

#create a dictionary with dict()

a = [('a',1),('b',2),('c',3)]

dic2 = dict(a)
dic2

#separate keys and values with method values() and keys()
list(dic1.values())

list(dic1.keys())[2]

#get a specific value from a dictionary, with method get()
dic1.get('one')

#update and remove dictionary element with method update() and del statement
dic1.update({'four':4,'five':5})
#del dic1

#check whether a value/key is in a dictionary
'one' in dic1
1 in dic1

False

In [50]:
#dict comprehensions 
#can be used to create dictionaries from arbitrary key and value expressions


#create a list with squares of integers less than 10

{x:x**2 for x in range(10)}

{0: 0, 1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81}