In [2]:
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"

1.	Write a Python program to filter integers (1-50) into two lists (even numbers and odd numbers) (using Lambda argument)

In [52]:
def main():
    print("This program filters integers (1-50) into two lists. \n")
    odd = []
    even = []
    for number in range(1,51):
        if number%2 == 0:
            even.append(number)
        elif number % 2 != 0:
            odd.append(number)
        else:
            print("ERROR: please check!")
    print(f"The odd list is {odd}. \n")
    print(f"The even list is {even}. \n")
    
if __name__ == "__main__":
    main()

This program filters integers (1-50) into two lists.

The odd list is [1, 3, 5, 7, 9, 11, 13, 15, 17, 19, 21, 23, 25, 27, 29, 31, 33, 35, 37, 39, 41, 43, 45, 47, 49].

The even list is [2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48, 50].

In [7]:
# using lambda and filter()
num = range(1,51)
type(num)

# filter(func, iterable) extracts the True elements returned by the func
even_num = list(filter(lambda x: x%2 == 0, num))

odd_num = list(filter(lambda x: x%2 !=0, num))

print(even_num)
print(odd_num)

range

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48, 50]
[1, 3, 5, 7, 9, 11, 13, 15, 17, 19, 21, 23, 25, 27, 29, 31, 33, 35, 37, 39, 41, 43, 45, 47, 49]

2.	Create a list and find numbers from 1 to 200, which are divisible by 2-9 (use for loop)

In [32]:
def main():
    
    # create empty list
    nums_divisible = []
    
    # for loop
    for num in range(1, 201):
        for denominator in range(2,10):
            if num % denominator == 0:
                nums_divisible += [num]
                
    # keep unique numbers in the list
    nums_divisible = set(nums_divisible)            
    # print result
    print(f"From 1 to 200, these numbers are divisible by 2-9: {nums_divisible}")
    
if __name__ == '__main__':
    main()

From 1 to 200, these numbers are divisible by 2-9: {2, 3, 4, 5, 6, 7, 8, 9, 10, 12, 14, 15, 16, 18, 20, 21, 22, 24, 25, 26, 27, 28, 30, 32, 33, 34, 35, 36, 38, 39, 40, 42, 44, 45, 46, 48, 49, 50, 51, 52, 54, 55, 56, 57, 58, 60, 62, 63, 64, 65, 66, 68, 69, 70, 72, 74, 75, 76, 77, 78, 80, 81, 82, 84, 85, 86, 87, 88, 90, 91, 92, 93, 94, 95, 96, 98, 99, 100, 102, 104, 105, 106, 108, 110, 111, 112, 114, 115, 116, 117, 118, 119, 120, 122, 123, 124, 125, 126, 128, 129, 130, 132, 133, 134, 135, 136, 138, 140, 141, 142, 144, 145, 146, 147, 148, 150, 152, 153, 154, 155, 156, 158, 159, 160, 161, 162, 164, 165, 166, 168, 170, 171, 172, 174, 175, 176, 177, 178, 180, 182, 183, 184, 185, 186, 188, 189, 190, 192, 194, 195, 196, 198, 200}

3.	Create a list and find numbers from 1 to 200, which are divisible by 2-9 (use list comprehension)

In [51]:
# use indexing 
nums_divisible = [num for num in range(1,201) if True in [True for denominator in range(2,10) 
                                                          if num % denominator == 0]]
print(nums_divisible)

[2, 3, 4, 5, 6, 7, 8, 9, 10, 12, 14, 15, 16, 18, 20, 21, 22, 24, 25, 26, 27, 28, 30, 32, 33, 34, 35, 36, 38, 39, 40, 42, 44, 45, 46, 48, 49, 50, 51, 52, 54, 55, 56, 57, 58, 60, 62, 63, 64, 65, 66, 68, 69, 70, 72, 74, 75, 76, 77, 78, 80, 81, 82, 84, 85, 86, 87, 88, 90, 91, 92, 93, 94, 95, 96, 98, 99, 100, 102, 104, 105, 106, 108, 110, 111, 112, 114, 115, 116, 117, 118, 119, 120, 122, 123, 124, 125, 126, 128, 129, 130, 132, 133, 134, 135, 136, 138, 140, 141, 142, 144, 145, 146, 147, 148, 150, 152, 153, 154, 155, 156, 158, 159, 160, 161, 162, 164, 165, 166, 168, 170, 171, 172, 174, 175, 176, 177, 178, 180, 182, 183, 184, 185, 186, 188, 189, 190, 192, 194, 195, 196, 198, 200]

In [50]:
# nested for loop in list comprehension
nums_divisible = set(num for num in range(1,201) for denominator in range(2,10) if 
                     num % denominator == 0)
print(list(nums_divisible))

[2, 3, 4, 5, 6, 7, 8, 9, 10, 12, 14, 15, 16, 18, 20, 21, 22, 24, 25, 26, 27, 28, 30, 32, 33, 34, 35, 36, 38, 39, 40, 42, 44, 45, 46, 48, 49, 50, 51, 52, 54, 55, 56, 57, 58, 60, 62, 63, 64, 65, 66, 68, 69, 70, 72, 74, 75, 76, 77, 78, 80, 81, 82, 84, 85, 86, 87, 88, 90, 91, 92, 93, 94, 95, 96, 98, 99, 100, 102, 104, 105, 106, 108, 110, 111, 112, 114, 115, 116, 117, 118, 119, 120, 122, 123, 124, 125, 126, 128, 129, 130, 132, 133, 134, 135, 136, 138, 140, 141, 142, 144, 145, 146, 147, 148, 150, 152, 153, 154, 155, 156, 158, 159, 160, 161, 162, 164, 165, 166, 168, 170, 171, 172, 174, 175, 176, 177, 178, 180, 182, 183, 184, 185, 186, 188, 189, 190, 192, 194, 195, 196, 198, 200]

4.	
Create a list to get the first 11 Fibonacci series. 


Note: The Fibonacci Sequence is the series of numbers: 0, 1, 1, 2, 3, 5, 8, 13, 21, .... 

Every next number is found by adding up the two numbers before it.

Expected Output: 1 1 2 3 5 8 13 21 34 55 89

In [9]:
# use for loop
def main():
    Fibonacci = [0,1]
    
    length = int(input("How long the Fibonacci series do you wanna get? "))
    
    if len(Fibonacci) >= length:
        print(f"The Fibonacci series is {Fibonacci}.")
    else:
        for i in range(length-1):
            Fibonacci.append(Fibonacci[i]+Fibonacci[i+1])
        # remove 0 from series
        del Fibonacci[0]
        print(f"The Fibonacci series is {Fibonacci}.")
        
if __name__ == '__main__':
    main()

How long the Fibonacci series do you wanna get? 50
The Fibonacci series is [1, 1, 2, 3, 5, 8, 13, 21, 34, 55, 89, 144, 233, 377, 610, 987, 1597, 2584, 4181, 6765, 10946, 17711, 28657, 46368, 75025, 121393, 196418, 317811, 514229, 832040, 1346269, 2178309, 3524578, 5702887, 9227465, 14930352, 24157817, 39088169, 63245986, 102334155, 165580141, 267914296, 433494437, 701408733, 1134903170, 1836311903, 2971215073, 4807526976, 7778742049, 12586269025].

In [69]:
# use recursion

def main():
    length = int(input("How many Fibonacci seires numbers you want? "))
    fib_series = []
    for i in range(1,length+1):
        fib_series.append(fibonacci(i))
    print(fib_series)
    
def fibonacci(n):
    if n in {0,1}:
        return n
    return fibonacci(n-1) + fibonacci(n-2)

if __name__ == '__main__':
    main()

How many Fibonacci seires numbers you want? 11
[1, 1, 2, 3, 5, 8, 13, 21, 34, 55, 89]

5.	Count the number of paragraphs, tables, and external links from the webpage: https://en.wikipedia.org/wiki/Baruch_College

In [93]:
import requests
from bs4 import BeautifulSoup

url = 'https://en.wikipedia.org/wiki/Baruch_College'
    
r = requests.get(url)

html_soup = BeautifulSoup(r.text)

# find all paragraphs
para = html_soup.find_all('p')
# find all tables
table = html_soup.find_all('table')
# find all hyperlinks
hyperlink = html_soup.find_all('a', attrs = {'class':'external text'})

In [123]:
# count number of all the paragraphs, tables, and hyperlinks
len(para)
len(table)
len(hyperlink)

33

8

188

In [121]:
# Check the the links with URL
href_list = [hyperlink[i].get('href') for i in range(len(hyperlink))]
href_list[0:5]

['//geohack.toolforge.org/geohack.php?pagename=Baruch_College&params=40.740159_N_73.98338_W_source:dewiki_region:US-NY_type:edu_dim:5km',
 '//geohack.toolforge.org/geohack.php?pagename=Baruch_College&params=40.740159_N_73.98338_W_source:dewiki_region:US-NY_type:edu_dim:5km',
 'http://www.baruch.cuny.edu',
 'https://en.wikipedia.org/w/index.php?title=Baruch_College&action=edit',
 'https://www.alumni.baruch.cuny.edu/uploaded/Annual_Reports/BCF_Annual_Report_2020-21-Final.pdf']

6.	Print the text in the first paragraph from the following html document:

```
html_doc = """
<html>
<head>
<meta http-equiv="Content-Type" content="text/html;
charset=iso-8859-1">
<title>An example of HTML page</title>
</head>
<body>
<h2>This is an example HTML page</h2>
<p>
Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc at nisi velit,
aliquet iaculis est. Curabitur porttitor nisi vel lacus euismod egestas. In hac
habitasse platea dictumst. In sagittis magna eu odio interdum mollis. Phasellus
sagittis pulvinar facilisis. Donec vel odio volutpat tortor volutpat commodo.
Donec vehicula vulputate sem, vel iaculis urna molestie eget. Sed pellentesque
adipiscing tortor, at condimentum elit elementum sed. Mauris dignissim
elementum nunc, non elementum felis condimentum eu. In in turpis quis erat
imperdiet vulputate. Pellentesque mauris turpis, dignissim sed iaculis eu,
euismod eget ipsum. Vivamus mollis adipiscing viverra. Morbi at sem eget nisl
euismod porta.</p>
<p><a href="https://www.w3resource.com/html/HTML-tutorials.php">Learn HTML from
w3resource.com</a></p>
<p><a href="https://www.w3resource.com/css/CSS-tutorials.php">Learn CSS from 
w3resource.com</a></p>
</body>
</html>
"""
```

In [138]:
# assign the html code to the object html_doc
html_doc = """
<html>
<head>
<meta http-equiv="Content-Type" content="text/html;
charset=iso-8859-1">
<title>An example of HTML page</title>
</head>
<body>
<h2>This is an example HTML page</h2>
<p>
Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc at nisi velit,
aliquet iaculis est. Curabitur porttitor nisi vel lacus euismod egestas. In hac
habitasse platea dictumst. In sagittis magna eu odio interdum mollis. Phasellus
sagittis pulvinar facilisis. Donec vel odio volutpat tortor volutpat commodo.
Donec vehicula vulputate sem, vel iaculis urna molestie eget. Sed pellentesque
adipiscing tortor, at condimentum elit elementum sed. Mauris dignissim
elementum nunc, non elementum felis condimentum eu. In in turpis quis erat
imperdiet vulputate. Pellentesque mauris turpis, dignissim sed iaculis eu,
euismod eget ipsum. Vivamus mollis adipiscing viverra. Morbi at sem eget nisl
euismod porta.</p>
<p><a href="https://www.w3resource.com/html/HTML-tutorials.php">Learn HTML from
w3resource.com</a></p>
<p><a href="https://www.w3resource.com/css/CSS-tutorials.php">Learn CSS from 
w3resource.com</a></p>
</body>
</html>
"""

In [146]:
html_soup = BeautifulSoup(markup = html_doc, features = 'html.parser')

print(html_soup.find('p').text)

Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc at nisi velit,
aliquet iaculis est. Curabitur porttitor nisi vel lacus euismod egestas. In hac
habitasse platea dictumst. In sagittis magna eu odio interdum mollis. Phasellus
sagittis pulvinar facilisis. Donec vel odio volutpat tortor volutpat commodo.
Donec vehicula vulputate sem, vel iaculis urna molestie eget. Sed pellentesque
adipiscing tortor, at condimentum elit elementum sed. Mauris dignissim
elementum nunc, non elementum felis condimentum eu. In in turpis quis erat
imperdiet vulputate. Pellentesque mauris turpis, dignissim sed iaculis eu,
euismod eget ipsum. Vivamus mollis adipiscing viverra. Morbi at sem eget nisl
euismod porta.

7.	Write a Python program to find all the link tags and list the first ten from the webpage https://www.baruch.cuny.edu

In [134]:
import requests
from bs4 import BeautifulSoup

url = 'https://www.baruch.cuny.edu'
r = requests.get(url)

html_soup = BeautifulSoup(markup = r.text, features = 'html.parser' )

# all the link tags
links = html_soup.find_all('a', limit = 10)

In [137]:
link_href = [links[i].get('href') for i in range(len(links))]
link_href

['https://blogs.baruch.cuny.edu/bctc/2022/03/22/m365emailfaq/',
 '#content',
 'https://forward.baruch.cuny.edu/',
 'https://www.baruch.cuny.edu/bctc/blackboard/',
 'https://blogs.baruch.cuny.edu/',
 'https://home.cunyfirst.cuny.edu/',
 'https://www.baruch.cuny.edu/bctc/degreeworks/',
 'https://baruch.cuny.edu/epaf/',
 '#',
 'https://outlook.office.com/']

8.	Create a Python dictionary to get the title, rating and the url of the top 50 movie from IMDb movie database: https://www.imdb.com/chart/top/?ref_=nv_mv_250

In [2]:
import requests
from bs4 import BeautifulSoup

url = 'https://www.imdb.com/chart/top/?ref_=nv_mv_250'
    
r = requests.get(url)

html_soup = BeautifulSoup(markup = r.text, features = 'html.parser')

# go to the page and find the table there
table = html_soup.find('table', attrs = {'data-caller-name':'chart-top250movie'})

In [3]:
# td(table data) tag contains the table
Titles_tag = table.find_all('td', attrs = {'class':'titleColumn'})
# a tag contains movie titles
titles = [Titles_tag[i].find('a').text for i in range(len(Titles_tag))]
# check movie titles
titles[:5]
len(titles)

250

In [5]:
# links in href attrs in a tag
links = [Titles_tag[i].find('a').get('href') for i in range(len(Titles_tag))]
links[:5]

['/title/tt0111161/',
 '/title/tt0068646/',
 '/title/tt0468569/',
 '/title/tt0071562/',
 '/title/tt0050083/']

In [6]:
# ratings tag
ratings_tag = table.find_all('strong')
ratings = [ratings_tag[i].text for i in range(len(ratings_tag))]
# check the ratings
ratings[:5]

['9.2', '9.2', '9.0', '9.0', '8.9']

In [10]:
movies = []

for i in range(50):
    movie = {'Title': titles[i], 'Rating':ratings[i], 'URL':links[i]}
    movies.append(movie)

for i in movies:
    print(i)

{'Title': 'The Shawshank Redemption', 'Rating': '9.2', 'URL': '/title/tt0111161/'}
{'Title': 'The Godfather', 'Rating': '9.2', 'URL': '/title/tt0068646/'}
{'Title': 'The Dark Knight', 'Rating': '9.0', 'URL': '/title/tt0468569/'}
{'Title': 'The Godfather Part II', 'Rating': '9.0', 'URL': '/title/tt0071562/'}
{'Title': '12 Angry Men', 'Rating': '8.9', 'URL': '/title/tt0050083/'}
{'Title': "Schindler's List", 'Rating': '8.9', 'URL': '/title/tt0108052/'}
{'Title': 'The Lord of the Rings: The Return of the King', 'Rating': '8.9', 'URL': '/title/tt0167260/'}
{'Title': 'Pulp Fiction', 'Rating': '8.9', 'URL': '/title/tt0110912/'}
{'Title': 'The Lord of the Rings: The Fellowship of the Ring', 'Rating': '8.8', 'URL': '/title/tt0120737/'}
{'Title': 'The Good, the Bad and the Ugly', 'Rating': '8.8', 'URL': '/title/tt0060196/'}
{'Title': 'Forrest Gump', 'Rating': '8.8', 'URL': '/title/tt0109830/'}
{'Title': 'Fight Club', 'Rating': '8.7', 'URL': '/title/tt0137523/'}
{'Title': 'Inception', 'Rating': '8.7', 'URL': '/title/tt1375666/'}
{'Title': 'The Lord of the Rings: The Two Towers', 'Rating': '8.7', 'URL': '/title/tt0167261/'}
{'Title': 'Star Wars: Episode V - The Empire Strikes Back', 'Rating': '8.7', 'URL': '/title/tt0080684/'}
{'Title': 'The Matrix', 'Rating': '8.7', 'URL': '/title/tt0133093/'}
{'Title': 'Goodfellas', 'Rating': '8.7', 'URL': '/title/tt0099685/'}
{'Title': "One Flew Over the Cuckoo's Nest", 'Rating': '8.6', 'URL': '/title/tt0073486/'}
{'Title': 'Se7en', 'Rating': '8.6', 'URL': '/title/tt0114369/'}
{'Title': 'Seven Samurai', 'Rating': '8.6', 'URL': '/title/tt0047478/'}
{'Title': "It's a Wonderful Life", 'Rating': '8.6', 'URL': '/title/tt0038650/'}
{'Title': 'The Silence of the Lambs', 'Rating': '8.6', 'URL': '/title/tt0102926/'}
{'Title': 'City of God', 'Rating': '8.6', 'URL': '/title/tt0317248/'}
{'Title': 'Saving Private Ryan', 'Rating': '8.6', 'URL': '/title/tt0120815/'}
{'Title': 'Life Is Beautiful', 'Rating': '8.6', 'URL': '/title/tt0118799/'}
{'Title': 'The Green Mile', 'Rating': '8.6', 'URL': '/title/tt0120689/'}
{'Title': 'Interstellar', 'Rating': '8.6', 'URL': '/title/tt0816692/'}
{'Title': 'Star Wars', 'Rating': '8.6', 'URL': '/title/tt0076759/'}
{'Title': 'Terminator 2: Judgment Day', 'Rating': '8.5', 'URL': '/title/tt0103064/'}
{'Title': 'Back to the Future', 'Rating': '8.5', 'URL': '/title/tt0088763/'}
{'Title': 'Spirited Away', 'Rating': '8.5', 'URL': '/title/tt0245429/'}
{'Title': 'Psycho', 'Rating': '8.5', 'URL': '/title/tt0054215/'}
{'Title': 'The Pianist', 'Rating': '8.5', 'URL': '/title/tt0253474/'}
{'Title': 'Léon: The Professional', 'Rating': '8.5', 'URL': '/title/tt0110413/'}
{'Title': 'Parasite', 'Rating': '8.5', 'URL': '/title/tt6751668/'}
{'Title': 'The Lion King', 'Rating': '8.5', 'URL': '/title/tt0110357/'}
{'Title': 'Gladiator', 'Rating': '8.5', 'URL': '/title/tt0172495/'}
{'Title': 'American History X', 'Rating': '8.5', 'URL': '/title/tt0120586/'}
{'Title': 'The Usual Suspects', 'Rating': '8.5', 'URL': '/title/tt0114814/'}
{'Title': 'The Departed', 'Rating': '8.5', 'URL': '/title/tt0407887/'}
{'Title': 'The Prestige', 'Rating': '8.5', 'URL': '/title/tt0482571/'}
{'Title': 'Casablanca', 'Rating': '8.5', 'URL': '/title/tt0034583/'}
{'Title': 'Whiplash', 'Rating': '8.5', 'URL': '/title/tt2582802/'}
{'Title': 'Top Gun: Maverick', 'Rating': '8.5', 'URL': '/title/tt1745960/'}
{'Title': 'The Intouchables', 'Rating': '8.5', 'URL': '/title/tt1675434/'}
{'Title': 'Modern Times', 'Rating': '8.4', 'URL': '/title/tt0027977/'}
{'Title': 'Hara-Kiri', 'Rating': '8.4', 'URL': '/title/tt0056058/'}
{'Title': 'Grave of the Fireflies', 'Rating': '8.4', 'URL': '/title/tt0095327/'}
{'Title': 'Once Upon a Time in the West', 'Rating': '8.4', 'URL': '/title/tt0064116/'}
{'Title': 'Rear Window', 'Rating': '8.4', 'URL': '/title/tt0047396/'}

In [11]:
import pandas as pd

pd.DataFrame(movies,
            index = range(1,len(movies)+1))

,Title,Rating,URL
1,The Shawshank Redemption,9.2,/title/tt0111161/
2,The Godfather,9.2,/title/tt0068646/
3,The Dark Knight,9.0,/title/tt0468569/
4,The Godfather Part II,9.0,/title/tt0071562/
5,12 Angry Men,8.9,/title/tt0050083/
6,Schindler's List,8.9,/title/tt0108052/
7,The Lord of the Rings: The Return of the King,8.9,/title/tt0167260/
8,Pulp Fiction,8.9,/title/tt0110912/
9,The Lord of the Rings: The Fellowship of the Ring,8.8,/title/tt0120737/
10,"The Good, the Bad and the Ugly",8.8,/title/tt0060196/
11,Forrest Gump,8.8,/title/tt0109830/
12,Fight Club,8.7,/title/tt0137523/
13,Inception,8.7,/title/tt1375666/
14,The Lord of the Rings: The Two Towers,8.7,/title/tt0167261/
15,Star Wars: Episode V - The Empire Strikes Back,8.7,/title/tt0080684/
16,The Matrix,8.7,/title/tt0133093/
17,Goodfellas,8.7,/title/tt0099685/
18,One Flew Over the Cuckoo's Nest,8.6,/title/tt0073486/
19,Se7en,8.6,/title/tt0114369/
20,Seven Samurai,8.6,/title/tt0047478/
21,It's a Wonderful Life,8.6,/title/tt0038650/
22,The Silence of the Lambs,8.6,/title/tt0102926/
23,City of God,8.6,/title/tt0317248/
24,Saving Private Ryan,8.6,/title/tt0120815/
25,Life Is Beautiful,8.6,/title/tt0118799/
26,The Green Mile,8.6,/title/tt0120689/
27,Interstellar,8.6,/title/tt0816692/
28,Star Wars,8.6,/title/tt0076759/
29,Terminator 2: Judgment Day,8.5,/title/tt0103064/
30,Back to the Future,8.5,/title/tt0088763/
31,Spirited Away,8.5,/title/tt0245429/
32,Psycho,8.5,/title/tt0054215/
33,The Pianist,8.5,/title/tt0253474/
34,Léon: The Professional,8.5,/title/tt0110413/
35,Parasite,8.5,/title/tt6751668/
36,The Lion King,8.5,/title/tt0110357/
37,Gladiator,8.5,/title/tt0172495/
38,American History X,8.5,/title/tt0120586/
39,The Usual Suspects,8.5,/title/tt0114814/
40,The Departed,8.5,/title/tt0407887/
41,The Prestige,8.5,/title/tt0482571/
42,Casablanca,8.5,/title/tt0034583/
43,Whiplash,8.5,/title/tt2582802/
44,Top Gun: Maverick,8.5,/title/tt1745960/
45,The Intouchables,8.5,/title/tt1675434/
46,Modern Times,8.4,/title/tt0027977/
47,Hara-Kiri,8.4,/title/tt0056058/
48,Grave of the Fireflies,8.4,/title/tt0095327/
49,Once Upon a Time in the West,8.4,/title/tt0064116/
50,Rear Window,8.4,/title/tt0047396/