# Python Review

## Number, booleans, strings

- lists, tuples, dictionaries and sets

In [1]:
#creating a empty list and adding numbers
li1 = []
print(li1)

[]

In [2]:
#list.append(x) :add an item to the end of the list
li1.append(1) 
print(li1)
li1.append(2)
print(li1)

[1]
[1, 2]

In [3]:
#list.pop(): removes and returns the last item in the list
li1.pop()
print(li1)

[1]

### list methods (remove, insert, locate position of each component, extend list)

In [4]:
# lists

# list can contains different types of elements
li1 = ['a', 2, False]
li2 = [[3], [3,5], [2,3,4]]
li3 = [2,3,3,5]

In [5]:
# list.index() return index of the first element equal to the argument
#list.insert(i,x) insert an item x at a given position i
#list.remove(x) remove the first item from the list whose value is equal to x
#list.extend(iterable) extend the list by appending all the items from the iterable

#del li1[2] #delete one element in the list

li3.insert(1, 300)
print(li3)

[2, 300, 3, 3, 5]

In [6]:
li3.remove(3)
print(li3)

[2, 300, 3, 5]

In [7]:
li3.extend(range(3))
print(li3)

[2, 300, 3, 5, 0, 1, 2]

In [8]:
li3.extend(range(3))
print(li3)

[2, 300, 3, 5, 0, 1, 2, 0, 1, 2]

In [9]:
li3.extend(li2)
print(li3)
print(li1, li2, li3)

[2, 300, 3, 5, 0, 1, 2, 0, 1, 2, [3], [3, 5], [2, 3, 4]]
['a', 2, False] [[3], [3, 5], [2, 3, 4]] [2, 300, 3, 5, 0, 1, 2, 0, 1, 2, [3], [3, 5], [2, 3, 4]]

In [53]:
#for loop in list
for num in li1:
    print(num)    
    
5 in li1

a
2
False

False

In [14]:
#while loop
x = 0
while x<5:
    print(x)
    x = x+1
    # x += 1

0
2
4

In [15]:
#for loop and range()
#range(lower, upper, step) create a sequence of numbers
print(list(range(0,3)))

print(list(range(0,10,2)))

#for number in range(0,10,2):
 #   print(number)

#list(range(0,3))

[0, 1, 2]
[0, 2, 4, 6, 8]

In [99]:
#create a list with squares of integers less than 10
#1 for loop

newlist = []
for x in range(10):
    newlist.append(x**2)
    print(newlist)

[0]
[0, 1]
[0, 1, 4]
[0, 1, 4, 9]
[0, 1, 4, 9, 16]
[0, 1, 4, 9, 16, 25]
[0, 1, 4, 9, 16, 25, 36]
[0, 1, 4, 9, 16, 25, 36, 49]
[0, 1, 4, 9, 16, 25, 36, 49, 64]
[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [95]:
list(range(10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [111]:
#create a list with squares of integers less than 10 
#2 list comprehension

#list comprehension
#a shorter syntax of for loop
#create a new list based on the values of an existing list

#syntax
#output_list = [item for item in existing_list if (condition to be satisfied) ]

newlist = []
for x in range(10):
    newlist.append(x**2)
    #print(newlist)
    
newlist4 = [x**2 for x in range(10)]
newlist4

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [108]:
#list comprehension
#example 2
#create a newlist which contains letters with letter "a" in the name

fruits = ["Apple", "banana", "cherry", "kiwi", "mango", "Avocado", "blackberry"]

newlist2 = []
for f in fruits:
    if 'A' in f or 'a' in f:
        newlist2.append(f)

#print(newlist2)
newlist2

#syntax
#output_list = [item for item in existing_list if (condition to be satisfied) ]

newlist3 = [f for f in fruits if 'a' or 'A' in f]

#print(newlist2, newlist3)

['Apple', 'banana', 'mango', 'Avocado', 'blackberry']

### Lambda

A lambda function is a small anonymous function. A lambda function can take any number of arguments, but can only have one expression. 

Uses of Lambda Functions:
- To include a function into another that is named and declared with def
- To perform calculations embeded in code (e.g., create a new df column)
- To leverage calculations for filtering operations in a more efficient way

#### Syntax
`lambda arguments: expression`

source: http://www.geeksforgeeks.org/python-pandas-apply/

In [59]:
# example 1
x = lambda a: a + 10
print(x(5))

15

In [58]:
# example 2
sqrt = lambda x,y: x**y
sqrt(2,2)

4

In [ ]:
# write the function in a program
def main():
    print("This program calculates square root. \n")
    numerator = int(input("what is the numerator? "))
    denominator = int(input("what is the denominator? "))
    print(f'The result is {sqrt(numerator,denominator)}')

def sqrt(x,y):
    return x**y

if __name__ == '__main__':
    main()

### `map()`
- syntax: `map(fun, iterable)`
- apply the given function to each item of a given iterable (list, tuple, set, dictionary etc.)

In [60]:
#create a list with squares of integers less than 10
list(map(lambda x:x**2, range(10)))

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [116]:
#user-defined function
def add(x, y):
    #print("x is {} and y is {}".format(x,y))
    return x + y # return value

#compare with the lambda method
#syntax: lambda arguments: experssion ()

add1 = lambda x,y: x+y

#add(4,5)
add1(4,8)

12

#### Processing multiple input iterables with `map()`
If you supply multiple iterables to map(), then the transformation function must take as many arguments as iterables you pass in. Each iteration of map() will pass one value from each iterable as an argument to function. The iteration stops at the end of the shortest iterable.

In [4]:
list(map(lambda a,b,c: a+b+c,[4,5,6,5],[3,4,5,6],[1,5,5,3,6]))

[8, 14, 16, 14]

### Tuples

- similar to lists but are immutable, meaning that elements cannot be added or removed after creation
- when to use tuple? 
    - Choose tuple if elements don't change

In [62]:
tup = (1,2,3,6,7)

#locate elements in tuple, delete, extend tuple
tup[1]

tup + (10,30,50)

(1, 2, 3, 6, 7, 10, 30, 50)

### Sets
- also similar to lists, but they store a unique and unordered collection of items, with no duplicates
- set will automatically reorder the number and delete duplicates

In [71]:
#create an empty set
set1 = set()   

#set will automatically reorder the number and delete duplicates
set2 = {3,3,5,7,8,2,10} 
set3 = {'a','a','b',3,5}

print(set2)
print(set3)

{2, 3, 5, 7, 8, 10}
{3, 'a', 5, 'b'}

In [66]:
#set.add()
set2.add(1)
print(set2)

{1, 2, 3, 5, 7, 8, 10}

In [67]:
# set.remove()
set2.remove(7)
print(set2)

{1, 2, 3, 5, 8, 10}

In [72]:
# set.pop() removes a random item from the set.
set2.pop()
print(set2)

set2.pop()
print(set2)

{3, 5, 7, 8, 10}
{5, 7, 8, 10}

In [74]:
# set.remove() removes an item from a set. 
# Will raise a KeyError exception if the specified item is not found in the set.
set3.remove('b')
print(set3)

{3, 'a', 5}

In [76]:
print(set2, set3)

{5, 7, 8, 10} {3, 'a', 5}

In [77]:
#set operations
set2&set3           #find intersection between two sets
set2|set3           #union two sets
set2-set3           #find elements in set2 but not in set 3
set2^set3           #find elements in set2 or set3 but not both

{10, 3, 7, 8, 'a'}

In [24]:
#Set comprehension
#syntax
#output_list = {item for item in existing_list if (condition to be satisfied)}

#Create a set with unique characters other than 'abc' in the following string 
check_char = 'abracadabra'

#{char for char in check_char if char not in 'abc'}
{char for char in check_char if char not in ('a','b','c')}

{'d', 'r'}

In [49]:
#Dictionaries store a mapping between a series of unique keys and values
#Dictionaries are indexed by immutable keys (strings, numbers, tuples)

dic1 = {}
dic1 = {"one": 1, "two": 2, "three": 3}
type(dic1)
dic1

dic1["three"]
#dic1[2]

#create a dictionary with dict()

a = [('a',1),('b',2),('c',3)]

dic2 = dict(a)
dic2

#separate keys and values with method values() and keys()
list(dic1.values())

list(dic1.keys())[2]

#get a specific value from a dictionary, with method get()
dic1.get('one')

#update and remove dictionary element with method update() and del statement
dic1.update({'four':4,'five':5})
#del dic1

#check whether a value/key is in a dictionary
'one' in dic1
1 in dic1

False

In [50]:
#dict comprehensions 
#can be used to create dictionaries from arbitrary key and value expressions

#create a list with squares of integers less than 10

{x:x**2 for x in range(10)}

{0: 0, 1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81}

## Import statement

1. Two approaches to import 
    1. `import datetime` 
    2. `from datetime import datetime, date`
2. Short names can be optionally assigned arbitrary 
    1. `import datetime as dtl`
3. Handled by the Python datetime module, which provides datetime

4. Two useful methods for dates 
    1. The `strftime` methods a datetime as a string and strings can be converted (parsed) into datetime objects with` strptime` and the corresponding format (specificaitons) 
    
Note: When you import the `datetime` library without specifying objects, you need to type datetime twice to use the `strptime` method, as follows: `datetime.datetime.strptime()`

#### Age Calculation Code Exercise
Write Python code to do
1. Ask for someone's date of birth (input)
2. Calculate his/her age (process*)
3. Print the result (Output) 

**Apply algo thinking  to map the process**

In [36]:
# write the function in a program
def main():
    print("This program calculates square root. \n")
    numerator = int(input("what is the numerator? "))
    denominator = int(input("what is the denominator? "))
    print(f'The result is {sqrt(numerator,denominator)}')

def sqrt(x,y):
    return x**y

if __name__ == '__main__':
    main()

This program calculates square root.

what is the numerator? 2
what is the denominator? 2
The result is 4